body {
    background-color: black;
}
.dropbtn {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 4px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: Trebuchet MS;
    font-weight: bold;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(0, 0, 0);
    min-width: 160px;
    box-shadow: 0px 4px 8px 0px rgba(o,o,o,2);
    z-index: auto;
    font-weight: bold;
}

.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 6px 8px;
    text-decoration: none;
    display: block;
    font-family: Trebuchet MS;
}

.dropdown-content a:hover {background-color: gray;
}

.dropdown:hover .dropdown-content {
    align-items: left;
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: black;
    color: white;
}

.CS {
    text-align: center;
    color: white;
    font-size:120px;
    font-family: Trebuchet MS;
}

.BackButton {
    text-align: center;
    font-size:60px;
    font-family: Trebuchet MS;
}